*.iml
*.apk
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/cert/google-services.json
/app/src/prod/google-services.json
fabric.properties
runConfigurations.xml
