<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".DragonsApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/dragons_hockey"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false"/>

        <activity
            android:name=".activities.admin.AdminAuthActivity"
            android:exported="false"
            android:label="@string/auth_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.admin.AdminActivity"
            android:exported="false"
            android:label="@string/title_activity_admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.admin.EditGameActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_game_auth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.admin.EditStatsActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_stats_auth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>